/* Space out content a bit */
body {
  margin-top: 50px;
  margin-bottom: 50px;
  background: none;
}
/* background Image */
.full {
  background: url(https://media.giphy.com/media/wOt4FV2NkqldS/giphy.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header{
	font-size: 100px;
	color: white;
	font-family: cursive, bold;
	text-align: center;
}

.lightHouse{
	height: 500px;
	width: 100%;
	margin-top: 20px;
}

.jumbotron{
	margin-top: 50px;
	background-color: rgba(255, 255, 255, 0.8);
}
